header {
    text-align: center;
}
.inputBox1 {
width : 250px;
padding :5px;
}
.inputBox2 {
width : 260px;
padding : 5px;
   padding-right: 22px;
}
.genderHobbiesContainer {
margin-top : 10px;
}
.incomeRangeDiv {
margin-top : 10px;
}
.confirmBoxDiv {
margin-left : 10px;
}
.formContainer {
    border: 12px solid black;
    margin: 0 auto;
    width: 50%;
    padding: 20px;
    background-color: #f9f9f9;
    font-size: 18px;
}

.flexContainer {
    display: flex;
}
.flexHobbies {
display : flex;
}

.textColor {
    color: #29ded7;
}

.firstnameContainer, .lastNameContainer, .sourceIncome {
    width: 48%;
}

.emailContainer, .bioContainer {
    margin-top: 15px;
}

#email, #bio, #age {
    width: 96%;
    padding: 8px;

}

.genderField, .hobbiesField {
    width: 48%;
}
#bio {
padding-right : 10px;
}

#incomeRange {
    width: 80%;
    padding-right: 50px;
}
#submit {
background-color : green;
}
.buttonFlex {
  display: flex;
justify-content: flex-end;
}
.sourceBox {
    padding: 5px;
    padding-right: 159px;
}
.incomeRangeFlex {
display : flex;
flex-direction : column;
}
.rangeDivBox {
display : flex;
flex-direction : row;
}

@media only screen and (max-width: 600px) {
    .flexContainer {
        flex-direction: column;
    }
    .buttonFlex {
      display: flex;
    justify-content: center;
    }
    .genderSelectionDiv {
    display : flex;
    flex-direction : column;
    }

    .firstnameContainer, .lastNameContainer, .sourceIncome, .profileFlex > div, .genderField, .hobbiesField {
        width: 100%;
    }

    .formContainer {
        width: 90%;
    }
}

